<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1431F4C51BB4E2A1005149D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1431F4E11BB4E2A2005149D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1431F4EC1BB4E2A2005149D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
